.btn {
  padding: 14px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:last-child {
  margin-right: 0;
}

.btn-danger {
  background-color: hsl(357, 100%, 86%);
  color: hsl(0, 0%, 98%);
  margin-right: 1em;
  font-weight: bold;
  font-size: 18px;
}

.btn-cancel {
  background: hsl(211, 10%, 45%);
  color: hsl(0, 0%, 98%);
  margin-right: 1em;
  font-weight: bold;
  font-size: 18px;
}

.btn-danger:hover {
  color: hsl(357, 100%, 86%);
  background-color: hsl(0, 0%, 98%);
}

.btn-cancel:hover {
  color: hsl(211, 10%, 45%);
  background-color: hsl(0, 0%, 98%);
}

.btn-action-dark,
.btn-action-light {
  background: transparent;
  color: hsl(234, 11%, 52%);
}

.btn-action-dark:hover {
  color: hsl(0, 0%, 98%);
}

.btn-action-light:hover {
  color: hsl(235, 21%, 11%);
}

.small {
  font-size: 13px;
}

.active {
  color: hsl(220, 98%, 61%);
}

.btn-primary {
  background-color: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
  max-height: 50px;
}

.btn-primary:hover {
  background-color: hsla(238, 40%, 52%, 0.5);
}
