.textarea {
  border: 1px solid hsl(238, 40%, 52%);
  border-radius: 12px;
  resize: vertical;
  display: block;
  outline: none;
  padding: 1em;
  font-family: 'Rubik' sans-serif;
  font-size: 18px;
  width: 70%;
}

@media screen and (max-width: 900px) {
  .textarea {
    width: 100%;
    margin-bottom: 1em;
  }
}
